* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  padding: 20px 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(./resimler/sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* ! height: 100vh; tarayıcının görünen alanının 100% yüksekliği */
}

form {
  /* background-color: antiquewhite; */
  background-image: linear-gradient(yellow, red);
  width: fit-content;
  margin: 20px auto; /* ortala */
  padding: 30px;
  border-radius: 10px;
}

/* label inline elementtir dolasıyla width dogrudan çalışmaz
inline içindeki kadar yer kaplayacagı için width işlemez.
 */
label {
  display: inline-block;
  width: 100px;
}

/* aynı özelliği alacak class ları , virgül ile yanyana yazabiliriz. */
.lang-div,
.gender-div {
  display: inline-block;
}

.lang-div label,
.gender-div label {
  width: auto; /*yukarda tüm labellara width:100px verdik. burda eski haline default haline mi getirdik. */
  margin-right: 10px;
}

.inputs {
  /* border: none; */
  border: 1px solid rgba(0, 0, 0, 0.3); /* 0.3= opacity)*/
  border-radius: 5px;
  width: 250px;
  padding: 10px 5px; /*5px sag-sol bosluk yani yazının biraz içerden yaz */
  margin-bottom: 20px;
}

.radio-check {
  margin-bottom: 20px;
}

.btn-container {
  text-align: center;
}

.btn-container input {
  /*btn-container içindeki inputlara yani butonları şekil ver.*/
  text-align: center;
  border-radius: 10px;
  border: none;
  /* background-color: coral; */
  background-color: hsl(299, 100%, 70%);
  padding: 10px;
}

.btn-container input:hover {
  background-color: hsl(299, 100%, 40%);
  font-weight: 700;
  cursor: pointer;
  color: aliceblue;
}

/*yatay ortalamak için */
.textarea-div * {
  vertical-align: middle; /* vertical = dikey  dikey hizala ve ortala*/
}

textarea {
  resize: none; /*sabit olması için...*/
}
