/* div'e width ile sabit bir genişlik verebiliriz.
px yada % vererek blok elemandan sabit deger verebiliriz.*/

/*farklı tarayıcıların default degeri farklı olunca sıfırlamak mantıklı.*/
* {
    /** universal secici 
    ** tum html elemanlarinin margin ve padding'lerini sifirla */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* browser ların standartları farklı oldugu için sıfırlıyoruz. 
                                 kutuları hesaplarken sabit deger vermiş oluyoruz width:100px değince
                                margin ve padding verince contenti değişiyor.Bizim width 100px kalıyor 
                                genişlemiyor. bu kutu biliyorum ki 100px ... */
  }
  
  .container {
    background-color: aquamarine;
  }
  .div {
    background-color: antiquewhite;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    /*width:50px*/
  }

  /*DİV GİBİ blok elementler margin ile ortalanabilir.
  margin:10px auto 
  10px alt üst
  auto sagdan soldan ORTALAR*/
  